<!DOCTYPE html>
<html>
    <head>
      <!-- <link rel="stylesheet" href=""> -->
      <!-- type="text/css" -->
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, 
      initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
      <title>畫面</title>
    </head>

    <style>

      body{
        background: gray;
      }

      table{
        position: absolute;
        border-collapse: collapse;
        position: absolute;
        top: 10%;
        left: 30%;
        right: 30%;
      }

      table, th, td{
        border: 5px solid black;
      }

      tr, th, td{
        width: 400px;
        font-weight:bold;
        font-family: DFKai-sb;
      }

      th{
        font-size: 60px;
        background: rgb(2, 85, 2);
      }
      
      td{
        text-align: center;
        font-size: 40px;
      }

      #img1{
        width: 15%;
      }

      #img2{
        position: absolute;
        width: 15%;
        top: 0%;
        right: 0%;
      }

      #img3{
        position: absolute;
        width: 15%;
        bottom: 0%;
        left: 0%;
      }

      #img4{
        position: absolute;
        width: 15%;
        bottom: 0%;
        right: 0%;

        /* animation-name: gogogo;
        animation-duration: 1s; */
      }

      /* @keyframes gogogo{
        0%{right: 0%; bottom: 0%;}
        50%{right: 10%;bottom: 0%;}
        100%{right: 20%;bottom: 0%;}
      } */

      @media only screen and (max-width:1300px){
        table, th, td{
        border: 5px solid rgb(134, 6, 6);
      }
      }

      @media only screen and (max-width:1200px){
        table{
        position: absolute;
        border-collapse: collapse;
        position: absolute;
        top: 10%;
        left: 30%;
        right: 30%;
        }
      }

    </style>

    <body>
      
      <img id="img1" src="logo.PNG">
      <img id="img2" src="logo.PNG">
      <img id="img3" src="logo.PNG">
      <img id="img4" src="logo.PNG">
      
      <table>
        <tr>
          <th class = lineHeight>壽司名稱</th>
          <th class = lindeHeight>需補數量</th>
        </tr>

        <% for(var i=0 ; i<data.length ; i++){ %>
          <tr>
            <% if(data[i].Ave > 10) { %>
              <td  class = lineHeight><%= data[i].Chinese_Name%></td>
              <td  class = lineHeight><%= data[i].Ave%></td>
            <%}else{ %>
              <td  class = lineHeightmin><%= data[i].Chinese_Name%></td>
              <td  class = lineHeightmin><%= data[i].Ave%></td>
            <% } %>
          </tr>
            <% } %>

      </table>
    </body>
</html>