<!DOCTYPE html>
<html>
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, 
      initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
      <title>登入</title>
    </head>
    <style>

      *{
        margin: 0;
        padding: 0;
      }

      body{
        width: 100%;
          height: 100vh;
          overflow: hidden;
          background-image: url(background2.jpg);
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
      }

      img{
        width: 20%;
        position: absolute;
        right: 40%;
        top: 0;
      }

      a{
        color: rgb(255, 255, 255);
        font-family: DFKai-sb;
        text-shadow: 0 0 0.001px brown, 0 0 8px rgb(225, 1, 1);
        font-size: 20px;
      }

      a:hover{
          color: rgb(210, 0, 0);

        }

      #a1{
        position: absolute;
        bottom: 6%;
        right: 35%;
        padding-top: 10px;
        /* margin-bottom: 5px; */
      }
      
      #a2{
        position: absolute;
        bottom: 0;
        right: 37%;
      }

      button{
        font-family: DFKai-sb;
      }

      form{
        position: absolute;
        padding: 90px 60px;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-family: DFKai-sb;
      }

      form > h1, h3{
        text-align: center;
        font-family: DFKai-sb;
        color: rgb(255, 255, 255);
      }

      form > h1{
        font-size: 60px;
        text-shadow: 0 0 2px brown, 0 0 8px rgb(225, 1, 1);
      }

      form > h3{
        font-size: 40px;
        text-shadow: 0 0 0.5px brown, 0 0 8px rgb(225, 1, 1);
      }

      form > label{
        color: white;
        font-size: 30px;
        text-shadow: 0 0 0.5px brown, 0 0 8px rgb(225, 1, 1);
      }

      .input1{
        width: 200px;
        height: 40px;
        font-size: 20px;
        font-family: DFKai-sb;
        border: none;
        margin-top: 10px;
      }

      #login1{
      background-color: rgb(171, 0, 0);
      font-size: 30px;
      border-radius: 10px;
      transition: 0.5s ease-in;
      position: fixed;  
      color: rgb(255, 255, 255);
      padding: 5px 25px;
      background: transparent;
      border: 1px solid red;
      border-radius: 30px;
      outline: none;
      cursor: pointer;
      text-align: right;
      text-shadow: 0 0 3px rgb(127, 3, 3), 0 0 5px rgb(219, 5, 5);
      font-family: DFKai-sb;
      right: 38%;
      }
      
      #login1:hover{
        background-color: lightcoral;
        border: 1px solid rgb(0, 63, 103);
        transition: 1.5s;
        box-shadow: 3px 3px 9px lightcoral;
      }

      @media only screen and (max-width:870px){
        form{
        border: 5px solid rgb(134, 6, 6);
        }
      }

    </style>

    <body>
      
      <div class="container">
        <form>
          <img src="logo.png">
          <h1>享狩獅系統</h1>
          <h3>登入</h3>
          <br>
          <label>帳號:</label>
          <input class="input1" id="username" name="username" type="text" placeholder="請輸入帳號" required>
          <br>
          <label>密碼:</label>
          <input class="input1" id="pw" name="pw" type="password" placeholder = "請輸入密碼" required>
          <br>        
          <a id="a1" href="http://localhost:8787/forget">竟然忘記密碼?</a>
          <br>
          <br>
          <button id = "login1" type="button" onclick=location.href="http://140.131.114.145:8787/choose">登入</button>
          <br>
          <a id="a2" href="http://localhost:8787/register">還沒註冊嗎?</a>
        </form>
      </div>
      
    </body>
</html>