<!DOCTYPE html>
<html>
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, 
      initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
      <title>註冊</title>
      <link rel="stylesheet" href="/public/Css/home.css">
    </head>
    <style>

        body{
            background-color: brown;
        }

        img{
        width: 15%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        }

        .container{
            margin: 50px;
            width: 50%;
            display: block;
            margin-left: auto;
            margin-right: auto;
            background-color: aqua;
            border: 1px solid black;
            border-radius: 20px;
            padding: 20px;
            font-family: DFKai-sb;
            font-size: 30px;
        }

        h1{
            font-size: 50px;
            text-align: center;
            margin-top: 0%;
            margin-bottom: 5px;
        }

        button{
            font-family: DFKai-sb;
        }

        input{
            width: 100%;
            padding: 10px;
            border: 1px solid black;
            margin-top: 5px;
            margin-bottom: 5px;
            box-sizing: border-box;
            font-family: DFKai-sb;
        }

        #login1{
            width: 100px;
            height: 50px;
            border: none;
            color: lightskyblue;
            background-color: rgb(191, 0, 0);
            font-size: 30px;
            border-radius: 10px;
            transition: 0.5s ease-in;
            margin-top: 20px;
        }

        #login1:hover{
            box-shadow: -3px 3px 3px black, inset -100px 0px 100px 0px rgb(5, 5, 199);
            color: rgb(191, 0, 0);
            cursor: pointer;
        }

        #login2{
            width: 200px;
            height: 50px;
            border: none;
            color: lightskyblue;
            background-color: rgb(191, 0, 0);
            font-size: 30px;
            border-radius: 10px;
            transition: 0.5s ease-in;
            margin-top: 20px;
        }

        #login2:hover{
            box-shadow: 3px 3px 3px black,  inset 100px 0px 100px 0px rgb(5, 5, 199);
            color: rgb(191, 0, 0);
            cursor: pointer;
        }

        #rule{
            width: 50%;
            display: none;
            margin-left: auto;
            margin-right: auto;
            background-color: aqua;
            padding: 20px;
            font-size: 20px;
            border: 1px solid black;
            border-radius: 20px;
        }
            
        .invalid{
            color: red;
        }

        .valid{
            color: lightgreen;
        }
        .invalid:before{
            position: relative;
            left: -5px;
            content: "\0021";
        }

        .valid:before{
            position: relative;
            left: -5px;
            content: "\2713";
        }
    </style>

    <body>
        <div class="container">
            <form>
                <img src="logo.png">
                <h1>找回密碼</h1>
                <label>電子信箱:</label>
                <input class="input1" id="email" name="email" type="text" placeholder = "請輸入電子信箱" required>
                <button id = "login1" type="button" onclick=location.href="http://140.131.114.145:8787/login">返回</button>
                <button id = "login2" type="button" onclick=location.href="http://140.131.114.145:8787/forget2">發送驗證碼</button>
            </form>
        </div>
      
        <div id="rule">
            <h3>密碼規則</h3>
            <p id="uppercase" class="invalid">至少一個大寫字母</p>
            <p id="number" class="invalid">至少一個數字</p>
            <p id="length" class="invalid">至少5個英文or數字</p>
        </div>

        <script src="/111505-infield_screen.js"></script>

    </body>
</html>