<!DOCTYPE html>
<html>
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, 
      initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
      <title>註冊</title>
    </head>
    <style>

      *{
        margin: 0;
        padding: 0;
      }

      body{
        width: 100%;
          height: 100vh;
          overflow: hidden;
          background-image: url(background2.jpg);
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
      }

      img{
        width: 20%;
        position: absolute;
        right: 40%;
        top: 0;
      }

      a{
        color: blue;
        font-family: DFKai-sb;
      }

      a:hover{
          color: red;
        }

      #a1{
        position: absolute;
        bottom: 5%;
        right: 38%;
        padding-top: 10px;
      }
      
      #a2{
        position: absolute;
        bottom: 0;
        right: 40%;
      }

      button{
        font-family: DFKai-sb;
      }

      form{
        position: absolute;
        padding: 90px 60px;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-family: DFKai-sb;
      }

      form > h1, h3{
        text-align: center;
        font-family: DFKai-sb;
      }

      form > h1{
        font-size: 60px;
        text-shadow: 0 0 3px brown, 0 0 10px lightcoral;
        color: rgb(255, 255, 255);
      }

      form > h3{
        font-size: 40px;
        opacity: 0;
      }

      form > label{
        color: white;
        font-size: 30px;
        text-shadow: 0 0 0.5px brown, 0 0 8px rgb(225, 1, 1);
      }

      .input1{
        width: 200px;
        height: 40px;
        border: 1px solid black;
        font-size: 20px;
        font-family: DFKai-sb;
        margin-top: 10px;
        border: none;
      }

      .login1{
        padding: 10px 25px;
        color: rgb(255, 255, 255);
        background: transparent;
        border: 1px solid red;
        border-radius: 30px;
        font-size: 30px;
        border-radius: 30px;
        transition: 0.5s ease-in;
        position: fixed;
        left: 20%;
        margin-top: 5%;
        outline: none;
        cursor: pointer;
        text-align: right;
        text-shadow: 0 0 3px rgb(127, 3, 3), 0 0 5px rgb(219, 5, 5);
        font-family: DFKai-sb;
      }

      .login1:hover{
        background-color: lightcoral;
        border: 1px solid rgb(0, 63, 103);
        transition: 1.5s;
        box-shadow: 3px 3px 9px lightcoral;
      }

      .login2{
        padding: 10px 25px;
        color: rgb(255, 255, 255);
        background: transparent;
        border: 1px solid red;
        border-radius: 30px;
        font-size: 30px;
        border-radius: 30px;
        transition: 0.5s ease-in;
        position: fixed;
        right: 20%;
        margin-top: 5%;
        outline: none;
        cursor: pointer;
        text-align: right;
        text-shadow: 0 0 3px rgb(127, 3, 3), 0 0 5px rgb(219, 5, 5);
        font-family: DFKai-sb;
      }

      .login2:hover{
        background-color: lightcoral;
        border: 1px solid rgb(0, 63, 103);
        transition: 1.5s;
        box-shadow: 3px 3px 9px lightcoral;
      }

      #rule{
            width: 50%;
            display: none;
            margin-left: auto;
            margin-right: auto;
            padding: 20px;
            font-size: 20px;
            border-radius: 20px;
            font-family: DFKai-sb;
            position: absolute;
            padding: 90px 60px;
            top: 65%;
            left: 90%;
            transform: translate(-50%,-50%);

        }
            
        .invalid{
            color: red;
        }

        .valid{
            color: lightgreen;
        }
        .invalid:before{
            position: relative;
            left: -5px;
            content: "\0021";
        }

        .valid:before{
            position: relative;
            left: -5px;
            content: "\2713";
        }

      @media only screen and (max-width:870px){
        form{
        border: 5px solid rgb(134, 6, 6);
        }
      }

    </style>

    <body>    
      <div class="container">
        <form action="/register" method="POST">
          <img src="logo.png">
          <h1>建立帳號</h1>
          <h3>登入</h3>
          <br>
          <label for="useremail">信箱:</label>
          <input class="input1" id="useremail" name="useremail" type="text" placeholder="請輸入電子信箱" required>
          <br>
          <label for="username">帳號:</label>
          <input class="input1" id="username" name="username" type="text" placeholder="請輸入帳號" required>
          <br>
          <label for="password">密碼:</label>
          <input class="input1" id="password" name="password" type="password" placeholder = "請輸入密碼" required>     
          <br>
          <label for="repassword">密碼:</label>
          <input class="input1" id="repassword" name="repassword" type="password" placeholder = "再次輸入密碼" required> 
          <br>
          <button class = "login1" type="button" onclick=location.href="http://140.131.114.145:8787/login">返回</button>
          <button class = "login2" id="btnSub" type="submit">確認</button>         
        </form>
      </div>

      <div id="rule">
        <p id="uppercase" class="invalid">至少一個大寫字母</p>
        <p id="number" class="invalid">至少一個數字</p>
        <p id="length" class="invalid">至少5個英文or數字</p>
      </div>

      <script>
        var password=document.getElementById("password")
        var uppercase=document.getElementById("uppercase")
        var number=document.getElementById("number")
        var length=document.getElementById("length")
        var differen=document.getElementById("differen")

        password.onfocus=function(){
          document.getElementById("rule").style.display="block";
        }
        
        password.onblur=function(){
            document.getElementById("rule").style.display="none";
        }

        password.onkeyup = function(){
          var upperLetter = /[A-Z]/g;
          if (password.value.match(upperLetter)){
            uppercase.classList.remove('invalid')
            uppercase.classList.add('valid')
          }else{
            uppercase.classList.add('invalid')
            uppercase.classList.remove('valid')
          }

          var numberLetter = /[0-9]/g;
          if (password.value.match(numberLetter)){
            number.classList.remove('invalid')
            number.classList.add('valid')
          }else{
            number.classList.add('invalid')
            number.classList.remove('valid')
          }

          if (password.value.length >= 5){
            length.classList.remove('invalid')
            length.classList.add('valid')
          }else{
            length.classList.add('invalid')
            length.classList.remove('valid')
          }
        }
      </script>

      <% if (message > 0) { %>
        <script>
          alert('帳號重複');
        </script>
      <%}else{ %>
      <%} %>

      <% if (messageage < 1) { %>
        <script>
          alert('密碼不一致');
        </script>
      <%}else{ %>
      <%} %>

    </body>
</html>