<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, 
        initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>妮塔的測試</title>
    <link type="text/css" href="style.css" rel="stylesheets">

    <style>
        body {
            background-color: bisque;
            background-size: auto;
            font-family: "Roboto", sans-serif;
            background-image: url("BG.png");
        }

        .topnav {
            overflow: hidden;
            background-color: #333;
            text-align: center;
        }

        .topnav a {
            float: left;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 16px;
        }

        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }
    </style>
</head>


<body>

    <!-- 推薦 -->
    <div style="text-align:left; position: relative;">

        <span style="font-size:330% ; position: absolute; left: 130px; top: 40px;">
            <%= aaa %>
        </span>
        <!-- <span style="font-size:330% ; position: absolute; left: 130px; top: 40px;">鮭魚壽司</span>-->

    </div>

    <!-- 熱門 -->
    <div style="text-align:right; position: relative;">
        <span style="font-size:330% ; position: absolute; right: 580px; top: 40px;">鮪魚壽司</span>
    </div>

    <!-- 熱門 -->
    <div style="text-align:right; position: relative;">

        <span style="font-size:330% ; position: absolute; right: 150px; top: 140px;">鯛魚壽司</span>

    </div>

    <!-- 熱門 -->
    <div style="text-align:right; position: relative;">

        <span style="font-size:330% ; position: absolute; right: 500px; top: 290px;">炙烤鮭魚肚壽司</span>

    </div>

     <!-- 熱門 -->
     <div style="text-align:right; position: relative;">

        <span style="font-size:330% ; position: absolute; right: 150px; top: 420px;">鰻魚壽司</span>

    </div>

    <!-- 熱門 -->
    <div style="text-align:right; position: relative;">

        <span style="font-size:330% ; position: absolute; right: 560px; top: 590px;">鮮蝦壽司</span>

    </div>

     <!-- 推薦 -->
     <div style="text-align:left; position: relative;">

        <span style="font-size:330% ; position: absolute; left: 130px; top: 300px;">鮭魚卵壽司</span>

    </div>

    <!-- 推薦 -->
    <div style="text-align:left; position: relative;">

        <span style="font-size:330% ; position: absolute; left: 160px; top: 590px;">稻荷壽司</span>

    </div>

    <!-- 推薦 -->
    <div style="text-align:right; position: relative;">

        <span style="font-size:330% ; position: absolute; right: 1100px; top: 140px;">蟹肉棒壽司</span>

    </div>

    <!-- 推薦 -->
    <div style="text-align:right; position: relative;">

        <span style="font-size:330% ; position: absolute; right: 1100px; top: 430px;">北寄貝壽司</span>

    </div>
    
</body>

</html>