body{
    height: 640px;
    background-color: grey;
    background-size: 300px;
    font-family: "Roboto",sans-serif;
    background-image: url("sushi.gif");
    background-repeat: no-repeat;
    background-position: right top;
    font-weight:bold;
    display: grid;
    border: solid;
    overflow-x: hidden;
  }
table, th, tr{
    border:1px solid black;
}
