<!DOCTYPE html>
<html>
    <head>
      <link type="text/css" href="/public/style/style.css">
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, 
      initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
      <title>111505-infield_screen</title>
    </head>

    <style>
      /* 整體美化和排版 */
    body{
      height: 700px;
      background-color: grey;
      background-size: 300px;
      font-family: "Roboto",sans-serif;
      background-image: url("sushi.gif");
      background-repeat: no-repeat;
      background-position: right top;
      font-weight:bold;
      display: grid;
      border: solid;
      overflow-x: hidden;
    }
    /* 部分排版 */
    .item2 {
      display: grid;
      grid-template-columns: 75px 1fr ;
    }
    .sample {
      display: grid;
      grid-template-columns: 350px 350px 350px 350px;
    }
    #container{
    width: auto;
    height: auto;
    display: flex;
    }

    tr {
    padding: 5px;
    font-size: 30px;
        }

    .lineHeight{
      line-height: 2;
      letter-spacing: 3px;
      font-family: DFKai-sb;
    }

    .lineHeightmin{
      line-height: 2;
      letter-spacing: 3px;
      font-family: DFKai-sb;
      color: rgb(255, 255, 255);
    }

    
    </style>

    <body>
      
        <div id="container">
          <img src="logo.PNG" style="width: 300px; height:250px; margin-top: 50px;">
            <div id="item2" class="item2">
            <br>
              <table id="sample" class="sample">
                <% for(var i=0 ; i<data.length ; i++){ %>
                  <tr>
                    <% if(data[i].quantity > 10) { %>
                      <td  class = lineHeight width = "50%"><%= data[i].Chinese_Name%></td>
                      <td  class = lineHeight width = "25%"><%= data[i].quantity%></td>
                    <%}else{ %>
                      <td  class = lineHeightmin width = "50%"><%= data[i].Chinese_Name%></td>
                      <td  class = lineHeightmin width = "25%"><%= data[i].quantity%></td>
                    <% } %>
                  </tr>
                <% } %>
              
              </table>
            </div>
          </div>
    </body>
</html>